
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map {
  height:100% !important;
  width: auto;
}

#map_container {
  height: 500px;
}
.inner-header {
  display:none;
}

html, body, #map, #wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#page-content-wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

}

#helper_box {
  position: absolute;
  bottom:0;
  opacity: 1;
  padding: 0;
  border-bottom: 1px solid #999;
  padding: 10px 20px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
  width:100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
}





 li.selected {
  background-color: #EEE;
}

.cartodb-legend.category ul li {
  float:left;
  margin-right:10px !important;
}














