
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map {
  height:100% !important;
  width: 81% !important; /*THIS IS A BUG*/
  background: blue;
  padding:0px;

}

#page-content-wrapper {
  padding:0px;
  height:100%;
  width:100%;
  position: fixed;
}


#nav_box {
  position: relative;
  top: 0px;
  margin-bottom:30px;
}

#helper_box {
  background: whitesmoke;
  position: relative;
  opacity: 1;
  padding: 0;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom:0px;
  padding-top:10px;
  border-bottom: 1px solid #999;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
  width:100%;
}

.sidebar-nav {
  position: relative;
  top: 0;
}






 li.selected {
  background-color: #EEE;
}

/*.cartodb-legend.category ul li {
  float:left;
  margin-right:10px !important;
}*/














