<div id="bottom-bar" class="col-md-12">
    <div id="bottom-bar-tab" class="tab col-md-4 col-md-offset-4">More Info</div>
    <div id="bottom-bar-content" class="col-md-12 tab-content">
        <div class="row">
            <div id="blank-intro" class="col-md-12">
                <h3> Nothing To See Here Yet!  Pick A Layer On the Left First! </h3>
            </div>
            <div id="helper_box" class="col-md-4 helper-box">
                <div class="row helper-box-section-row bignums">
                    

                    
                        <div id="bignum-left" class="col-md-6 helper-box-subsection left">
                            <div class="subsection-inner">
                            
                                <h5 class="data-value"></h5>
                                <div class="data-desc"></div>
                            </div>
                            
                        </div>
                        <div id="bignum-right" class="col-md-6 helper-box-subsection right">
                            <div class="subsection-inner">
                                <h5 class="data-value"></h5>
                                <div class="data-desc"></div>
                            </div>
                        </div>
                    


                </div>
                <div class="row helper-box-section-row">
                    <div id="helper_box_bottom" class="col-md-12 helper-box-subsection">
                        <div class="subsection-inner">
                            {% include helper_boxes/all.html %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="chart_box_1" class="col-md-4 chart-box">
                <div id="chart-title-1" class="chart-title">
                    <h4></h4>
                </div>
                <div id="chart-container-1" class="chart-container"></div>
            </div>
            <div id="chart_box_2" class="col-md-4 chart-box">
                <div id="chart-title-2" class="chart-title">
                    <h4></h4>
                </div>
                <div id="chart-container-2" class="chart-container"></div>
            </div>
        </div> <!--row-->
    </div><!--bottom-bar-content-->
</div><!--bottom-bar-->