<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img src="/assets/images/sdlogo.png" alt="City of San Diego Logo" width="100%"/>
  </div>

  <nav class="sidebar-nav" id="layer-selector">
    {% for view in site.data.views %}
      <a class="sidebar-nav-item layer-opt"
         href="#"
         data-sublayer="{{ view.sublayer }}"
         data-ops="{{ view.ops | join: ',' }}"
         data-sql="{{ view.sql }}"
         {% if view.start %}
           data-start="{{ view.start }}"
         {% endif %}
         {% if view.end %}
           data-end="{{ view.end }}"
         {% endif %}
         id="{{ view.id }}">{{ view.title }}</a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
      StreetsSD is currently in Alpha phase. That means it's brand new software and stuff can break.  Pull Requests / comments welcome on <a href="https://github.com/MrMaksimize/sdinframap" target="_blank"> Github</a>!
  </div>
  <div class="sidebar-item social-links">
      <a href="https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console" target="_blank" title="If you turn on the console log, you can see the sql queries.">
        <i class="fa fa-2x fa-code"></i>
        <span class="noshow">SQL</span>
      </a>
<!--      <a href="http://data.sandiego.gov" target="_blank" title="Data">
        <i class="fa fa-2x fa-database"></i>
        <span class="noshow">Data</span>
</a> -->
      <a href="https://github.com/cityofsandiego/streetssd" target="_blank" title="Github">
        <i class="fa fa-2x fa-github"></i>
        <span class="noshow">Code</span>
      </a>
  </div>
</div>
