<div class="masthead">
  <div class="container">
    <div class="title-section col-md-5">
      <h3 class="masthead-title">
        <a href="/" title="Home">{{ site.title }}</a>
        <small>{{ site.tagline }}</small>
      </h3>
    </div>
    <div class="other-section col-md-7 masthead-title">
      <a title="Zoom to my current location" id="find-me-link" href="#">
        <i class="fa fa-2x fa-bullseye"></i>
      </a>
      <form id="address-search" class="input-group address-search">
        <input type="text" class="form-control" placeholder="Search Address">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </form><!-- /input-group -->
      <a id="help-link" href="#helpModal" class="modal-link" title="Help">
        <i class="fa fa-2x fa-question-circle question-help"></i>
      </a>
      <a id="contact-link" class="" href="http://apps.sandiego.gov/streetdiv/"
        title="Report a Street Issue" target="_blank">
          <i class="fa fa-2x fa-envelope contact-link"></i>
      </a>

      <!--<a id="contact-link" class="typeform-share link"
         href="https://maksimpecherskiy.typeform.com/to/y398Mh"
         data-mode="1" target="_blank">
          <i class="fa fa-2x fa-envelope contact-link"></i>
          </a>-->
    </div>
  </div>
</div>
