/* 
The main SCSS file for everything, yep
*/
@import "bootstrap";
@import "syntax";
@import "poole";
@import "lanyon";



/** Assists **/

@mixin merriweather {
  font-family: "Merriweather",Helvetica, Arial, sans-serif;
}

@mixin opensans{
  font-family: "Open Sans",Helvetica, Arial, sans-serif;
}

@mixin no-side-padding {
  padding-left:0px;
  padding-right:0px;
}
@mixin no-side-margin {
  margin-left:0px;
  margin-right:0px;
}

@mixin no-padding {
  padding:0px;
}

/* Mixin */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Classic Pallete */
/*http://take.ms/7Sv5Z*/


$p_blue: #0098db;
$p_green: #00c7b2;
$p_orange: #ffa02f;
$p_yellow: #fcd900;
$p_white: #000000;

$p_dark_gray: #37424a;
$s_light_gray: #d1d4d3;
$s_gray: #5d676f;
$s_blue: #005bbb;
$s_dark_blue: #00549f;
$black: black;
$s_black: #1b242a;
$s_silver: #5d676f;
$s_cool_gray: #eoe1dd;

/** End Assists **/

body {
  width: 100%;
  height:100%;
  position: fixed;
  @include opensans;
}

h1, h2, h3, h4, h5, h6 {
  @include opensans;
}

.wrap {
  position: fixed;
  height: 100%;
}

.masthead {
	margin-bottom:0px;
  padding-top: 0.5rem;
  padding-bottom:0.5rem;
  opacity: 0.9;
  background: $s_light_gray;
}

.masthead-title small {
  color: $s_black;
}

.masthead-title a {
  color: $s_silver;
}

.sidebar-toggle {
  top: 0.5rem;
  background: $s_cool_gray;
}

.map-container {
	margin-left: 0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
  height:100% !important;
  background: black;
  width: 100%;
  position: fixed;
}

#map {
  height:100%;
  width: 100%; 
  background: black;
  padding:0px;
  position: fixed;
}

.loader {
  color:white;
  text-align:center;
  width:100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  img {
    margin:auto;
  }
}

.map-loaded {
  .loader {
    display:none;
  }
}

img {
  border-radius: 0px !important;
}

#footer-bar {
  background: black;
  height:30px;
  position: fixed;
  bottom:0px;
  z-index: 9999999;
  opacity: 0.99;
  border-radius: 0px;
  text-align: center;
  line-height: 30px;
  padding-left:10px;
  padding-right:10px;
  width: 100%;
}

#bottom-bar {
  background:transparent;
  opacity: 0.9;
  height: 310px;
  width: 100%;
  z-index: 999999;
  position: fixed;
  bottom: -250px;
  @include no-side-padding;
  .tab-content {
    height:250px;
    background: $s_light_gray;
  }
  .tab {
    cursor:pointer;
    height:30px;
    background:$p_blue;
    text-align: center;
    line-height: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    @include opensans;
    color: white;
  }
  #blank-intro {
    text-align: center;
    h3 {
      text-align: center;
    }
  }
}


.helper-box, .chart-box {
  margin-top: 0px;
  background: whitesmoke;
  position: relative;
  opacity: 1;
  padding: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 13px;
  color: #444;
  cursor: auto;
  height:250px;
  @include opensans;
}

.helper-box-section-row {
  height: initial;
}
.helper-box-subsection {
  text-align: center;
  color: white;
  height: 100%;
  h5 {
    margin:0px;
    padding:0px;
    color: white;
  }
  .data-value, .data-desc {
    @include vertical-align;
    top:38%;
  }
  .subsection-inner {
    background: $p_blue;
    height: 80%;
    padding-top: 3%;
    padding-bottom:3%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom:5%;
  }
}



.chart-container {
  height: 218px !important;
  max-height: 218px !important;
  position: relative;
  bottom:0px;
}

.chart-title {
  text-align:center
}
.chart-title h4 {
  padding-bottom: 0px;
  margin-bottom:0px;
}


.chart-box h4 {
  margin-top:7px;
}

/* CartoDB Specific */
div.cartodb-share {
  float:right;
}

div.cartodb-zoom {
  float:right;
  clear:right;
  margin:20px 20px 0 0;
  opacity: 0.9;
}

div.cartodb-legend-stack {
  top:20px;
  bottom:auto;
  right: 67px;
  opacity: 0.9;
  background: $s_light_gray;
}

/* Modal */


.modal.fade.in {
  /*background-color: $s_light_gray;*/
}

.modal {
  modal-content: {
    border-radius: 0px;
  };
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .helper-box-section-row {
    height: 50%;
  }
}
@media (min-width: 1200px) {
  
}



