/* 
The main SCSS file for everything, yep
*/
@import "bootstrap";
@import "syntax";
@import "poole";
@import "lanyon";



/** Assists **/


@mixin no-side-padding {
  padding-left:0px;
  padding-right:0px;
}
@mixin no-side-margin {
  margin-left:0px;
  margin-right:0px;
}

@mixin no-padding {
  padding:0px;
}

/** End Assists **/

body {
  width: 100%;
  height:100%;
  position: fixed;
}

.wrap {
  position: fixed;
  height: 100%;
}

.masthead {
	margin-bottom:0px;
}

.map-container {
	margin-left: 0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
  height:100% !important;
  background: black;
  width: 100%;
  position: fixed;
}

#map {
  height:100%;
  width: 100%; 
  background: black;
  padding:0px;
  position: fixed;
}

.loader {
  color:white;
  text-align:center;
  width:100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  img {
    margin:auto;
  }
}

.map-loaded {
  .loader {
    display:none;
  }
}

img {
  border-radius: 0px !important;
}

#footer-bar {
  background: black;
  height:30px;
  position: fixed;
  bottom:0px;
  z-index: 9999999;
  opacity: 0.8;
  border-radius: 0px;
  text-align: center;
  line-height: 30px;
  padding-left:10px;
  padding-right:10px;
  width: 100%;
}

#bottom-bar {
  background:transparent;
  opacity: 0.8;
  height: 310px;
  width: 100%;
  z-index: 999999;
  position: fixed;
  bottom: -250px;
  @include no-side-padding;
  .tab-content {
    height:250px;
    background: whitesmoke;
  }
  .tab {
    cursor:pointer;
    height:30px;
    background:#356AA0;
    text-align: center;
    line-height: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    color: white;
  }
}



