<div class="modal fade" id="{{ include.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ include.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="{{ modal.id }}Title">
                    {{ include.title }}
                </h4>
            </div>